.main-container {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 200px; */
  background-color:  antiquewhite;;
  height: 100%;
}

.search-container {
  background-color: antiquewhite;
  padding: 20px;
  height: 200px;
  justify-content: center;
  
}
@media screen and (max-width: 576px) {
  .search-container {
    height: 200px;
  }
}
@media screen and (min-width: 577px) and (max-width: 1023px) {
  .search-container {
    height: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .search-container {
    height: 100px;
  }}

.info-container {
  background-color: lightblue;
  padding: 20px;
  justify-content: center;
  align-items: center
}
.artist-card {
  background-color: #1976d2; 
  color: white; 
  margin-bottom: 16px;
}
.album-accordion {
  margin-bottom: 16px;
}
.album-card {
  background-color: #1976d2; 
  color: white; 
  margin-bottom: 16px; 
}

.songs-accordion {
  margin-top: 16px; 
}

.song-card {
  background-color: #1976d2; 
  color: white; 
}

