

.main-container {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 200px; */
  background-color:  antiquewhite;;
  height: 100%;
}

.search-container {
  background-color: antiquewhite;
  padding: 20px;
  height: 100px;
  justify-content: center;
  
}

.info-container {
  background-color: grey;
  padding: 20px;
  justify-content: center;
  align-items: center
}
.artist-card {
  background-color: #1976d2; 
  color: white; 
  margin-bottom: 16px;
}
.album-accordion {
  margin-bottom: 16px;
}
.album-card {
  background-color: #1976d2; 
  color: white; 
  margin-bottom: 16px; 
}

.songs-accordion {
  margin-top: 16px; 
}

.song-card {
  background-color: #1976d2; 
  color: white; 
}

